<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Details</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-md="6" offset-md="3">
                <ion-list>
                    <ion-item>
                        <ion-label>Build Year</ion-label>
                        <ion-label>2015</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Owner</ion-label>
                        <ion-label>JustGreen</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>battery size</ion-label>
                        <ion-label>66.320 Amp</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>engine cc</ion-label>
                        <ion-label>200</ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
