<h3>latitude: {{location.lat}}</h3>

<h3>longitude: {{location.lng}}</h3>

<agm-map
  style="height: 500px"
  [(latitude)]="location.lat"
  [(longitude)]="location.lng"
  [(zoom)]="location.zoom"
  [disableDefaultUI]="true"
  [zoomControl]="true"
  [(fitBounds)]='location.viewport'>


  <agm-marker
    [(latitude)]="location.marker.lat"
    [(longitude)]="location.marker.lng"
    [markerDraggable]="location.marker.draggable"
    [label]="location.marker.label">
  </agm-marker>

</agm-map>

