<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Locate</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-item lines="none">
          <ion-label slot="start">{{ identifier }}</ion-label>
          <ion-label slot="end">{{ batteryStatusView }}</ion-label>
          <ion-icon slot="end" name="battery-full"></ion-icon>
        </ion-item> 
        </ion-col
    ></ion-row>
  </ion-grid>
  <div #map_canvas id="map_canvas"></div>
</ion-content>
