<ion-header>
  <ion-toolbar color="primary">
    <ion-title>evehicles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-md-6 offset-md-3>
        <ion-list>
          <ion-item *ngFor="let ev of evehicles" (click)="moveToDetailPage()">
            <ion-label>{{ ev.id }}</ion-label>
            <ion-toggle color="success" name="power"></ion-toggle>
            <ion-img slot="end" [src]="updateBatteryStatus(ev)"></ion-img>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
