<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-item>
            <ion-label>id: {{id}} </ion-label>
            <ion-label>latitude: {{latitude}} </ion-label>
            <ion-label>longitude: {{longitude}} </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div #map_canvas id="map_canvas"></div>

</ion-content>
