<ion-header>
  <ion-toolbar color="primary">
    <ion-title>usersettings</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list>
          <ion-item routerLink="/auth">
            <ion-icon slot="end" name="exit"></ion-icon>
            <ion-label>LogOut</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>app version</ion-label>
            <ion-label>0.0.1</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>username</ion-label>
            <ion-label>N/A</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
