<ion-app>
    <ion-menu side="start">
        <ion-header>
            <ion-toolbar>
                <ion-title>JGL</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-menu-toggle>
                    <ion-item lines="none" routerLink="/controlcenter/tabs/home">
                        <ion-icon name="home" slot="start"></ion-icon>
                        <ion-label>Home</ion-label>
                    </ion-item>
                
                    <ion-item lines="none" routerLink="/controlcenter/tabs/map">
                        <ion-icon name="pin" slot="start"></ion-icon>
                        <ion-label>Map</ion-label>
                    </ion-item>
                    <ion-item lines="none" routerLink="/controlcenter/tabs/controls">
                        <ion-icon name="logo-game-controller-a" slot="start"></ion-icon>
                        <ion-label>Controls</ion-label>
                    </ion-item>
                    <ion-item lines="none" routerLink="/controlcenter/tabs/diagnostics">
                        <ion-icon name="hammer" slot="start"></ion-icon>
                        <ion-label>Diagnostics</ion-label>
                    </ion-item>
                    <ion-item lines="none" routerLink="/controlcenter/tabs/details">
                        <ion-icon name="list" slot="start"></ion-icon>
                        <ion-label>Details</ion-label>
                    </ion-item>
                    <ion-item lines="none" routerLink="/controlcenter/tabs/user">
                        <ion-icon name="person" slot="start"></ion-icon>
                        <ion-label>User</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>
