<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <button ion-back-button></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs>
<ion-tab [root]="homePage" tabTitle="Map" tabIcon="locate"></ion-tab>
<ion-tab [root]="controlsPage" tabTitle="Controls" tabIcon="game-controller-a"></ion-tab>
<ion-tab [root]="detailsPage" tabTitle="Details" tabIcon="settings"></ion-tab>
<ion-tab [root]="accountPage" tabTitle="Account" tabIcon="person"></ion-tab>
</ion-tabs>
