<!--
  Generated template for the ControlsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>controls</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<p>fddghjkhgfff</p>
</ion-content>
