<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Diagnostics</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list>
          <ion-item
            detail
            button
            [routerLink]="[
              '/',
              'controlcenter',
              'tabs',
              'diagnostics',
              diagn.name
            ]"
            *ngFor="let diagn of diagnosticDetails"
          >
            <ion-label>{{ diagn.name }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
