<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="map">
                <ion-label>Map</ion-label>
                <ion-icon name="pin"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="controls">
                <ion-label>Controls</ion-label>
                <ion-icon name="logo-game-controller-a"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="diagnostics">
                <ion-label>Diagnostics</ion-label>
                <ion-icon name="hammer"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="details">
                <ion-label>Details</ion-label>
                <ion-icon name="list"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="user">
                <ion-label>User</ion-label>
                <ion-icon name="person"></ion-icon>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
